* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Poppins;
  src: url(Poppins/Poppins-Light.ttf);
}
/* top navigation bar */
.navigation__bar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  width: 100%;
  height: 78px;
  flex-shrink: 0;
  background: #fff;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 24px;
}
.navigation__list {
  display: flex;
  width: 350px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.navigation__links {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #13253a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  text-decoration: none;
}
/* top navigation bar end */

/* header content */
.container__element-positioning {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 135px;
  padding-bottom: 135px;
  padding-left: 100px;
  padding-right: 100px;
}
.text__position {
  width: 50%;
}
.image__position {
  width: 50%;
}
.running__head {
  color: #2557ab;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px;
}
.title__text {
  color: #13253a;
  font-family: Poppins;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  height: 63px;
}
.text__description {
  color: #13253a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  width: 470px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.button__style {
  width: 336px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #ff7f57;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* header content end */

/* section 1 */
.div__position {
  padding-left: 100px;
  padding-right: 100px;
}
.title__position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.running__head-section1 {
  color: #2557ab;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.title__text-section1 {
  color: #13253a;
  text-align: center;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  width: 770px;
  padding-top: 5px;
}
.services__column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.services__column-styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.subtitle__style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 370px;
  color: #3b4d6c;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.description__text-style {
  color: #13253a;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.9;
  width: 370px;
}
/* section 1 end */

/* section 2 */
.advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advertisement__style {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  padding-bottom: 100px;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}
.advertisement__highlight {
  color: #13253a;
  font-family: Poppins;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.advertisement__highlight--plus {
  color: #ff7f57;
}
.description__text-style2 {
  color: #2557ab;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* section 2 end */

/* section 3 */
.item__position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title__style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title__style-section2 {
  color: #13253a;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.running__head-section2 {
  color: #2557ab;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.div__position2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text__properties-left {
  width: 40%;
  color: #2557ab;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 370px;
}
.text__properties-left--italic {
  color: #13253a;
  font-family: Poppins;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
  width: 370px;
}
.text__properties-right {
  width: 60%;
  color: #2557ab;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 570px;
}
.padding__bottom {
  padding-bottom: 30px;
}
.logo__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 970px;
  height: 66px; */
  padding-top: 50px;
  padding-bottom: 100px;
}
.logo__position {
  padding-left: 60px;
  padding-right: 60px;
}
/* section 3 end */

/* divider */
.solid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 135px;
  padding-right: 135px;
  /* width: 1170px; */
  height: 1px;
  flex-shrink: 0;
  background: #dce2e6;
}
/* divider end */

/* section 4 */
.relax__position {
  display: flex;
  flex-direction: row;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 100px;
  padding-bottom: 120px;
}
.h2__style--relax {
  color: #13253a;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}
.description__style-main--relax {
  color: #13253a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.9;
  padding-bottom: 20px;
}
.checkbox__position {
  display: flex;
  align-items: center;
}
.description__style--relax {
  color: #13253a;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  padding-bottom: 12px;
  padding-left: 15px;
}
.image__padding {
  padding-left: 100px;
}
/* section 4 end */

/* red rectangle */
.rectangle__style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 434px;
  flex-shrink: 0;
  background: #ff7f57;
}
.h4__style-rectangle {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 5px;
}
.h2__style-rectangle {
  color: #f4f6f7;
  text-align: center;
  font-family: Poppins;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
.text__description-rectangle {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 20px;
  width: 770px;
}
.button-rectangle__style {
  width: 336px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #2557ab;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* red rectamgle end */

/* footer */
.upper-rectangle__footer {
  height: 817px;
  width: 100%;
  flex-shrink: 0;
  background: #11364e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h3__footer {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
label {
  padding-bottom: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
input {
  margin-bottom: 40px;
  width: 371px;
  /* height: 1px; */
  flex-shrink: 0;
  opacity: 0.25;
  background: #fff;
}
input::placeholder {
  background: #11364e;
  color: #fff;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.2;
}
.button-footer__style {
  width: 370px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #ff7f57;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.lower-rectangle__footer {
  height: 47px;
  width: 100%;
  flex-shrink: 0;
  background: #13253a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright__footer {
  color: #fff;
  text-align: right;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7995;
}
